*
{
    font-family: 'Montserrat', sans-serif;
}
body
{
    margin: 0;
}

#angebot
{
    display: flex;
    justify-content: center;
    max-width: 100%;
    justify-items: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.name
{
    text-align: center;
    position: relative;
    top: 215px;
}

.gerichtbild
{
    position: relative;
    top: -60px;
    order: -1;
    width: 300px;
}
.gericht
{
    padding: 1em;
    padding-bottom: 3em;
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px;
    width: 300px;
    height: auto;
    min-width: 300px;
    min-height: auto;
    position: relative;
}

.button
{
    height: 30px;
    width: 100%;
    color: white;
    background-color: #b80b29;
    border-color: #a1232b;
    border-radius: 10px;
    bottom: 10px;
    position: relative;
    margin-top: 20px;
}

.button-container
{
    position: absolute;
    bottom: 0;
    width: 90%;
}

.menueicon
{
    width: 50px;
}

#shop
{
    display: flex;
}

#menueband
{
    width: auto;
    background-color: #b80b29;
    padding-right: 20px;
    color: white;
}

.menuebutton
{
    display: flex;
    width: 120px;
    align-items: center;
}

.icontext
{
    font-size: 20px;
}

.rechts
{
    display: block;
}

#unserangebot
{
    width: 100%;
    height: auto;
    text-align: center;
}

@media all and (orientation:portrait) {
    #menueband
    {
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #shop
    {
        display: block;
    }
}

@media all and (max-width: 500px)
{
    .icontext
    {
        display: none;
        
    }
    .menuebutton
    {
        width: 55px;
    }
}

@media print
{
    #menueband
    {
        display: none;
    }

    .button-container
    {
        display: none;
    }
}